@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');
:root{

    --mainTextColor-light:#000;
    --secondaryTextColor-light:rgb(51 51 51);
    --mainLinkColor-light:#0da2b8;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(249, 250,251);

    --mainTextColor-dark:#fff;
    --secondaryTextColor-dark:#adb0b1;
    --mainLinkColor-dark:rgb(30, 190,214);
    --mainBorderColor-dark:#2b3031;
    --mainBgColor-dark:#131415;


    --mainTextColor: var(--mainTextColor-light);
    --secondaryTextColor:var(--secondaryTextColor-light);
    --mainLinkColor:var( --mainLinkColor-light);
    --mainBorderColor:var(--mainBorderColor-light);
    --mainBgColor:var( --mainBgColor-light);
}

*{
    font-family: 'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);

}

body{
    background-color: var(--mainBgColor);            
}
p, span, li {
    font-size: 1em;
    color: var(--secondaryTextColor);
}
a {
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}
li {
    line-height: 1.9em;
}

#container--main {
    max-width: 700px;
    margin: 0 auto;
}
.section--page {
    padding: 1em 0;
}
#wrapper--hero {
    display: flex;
    align-items: center;
    gap: 4em;
}

#user-name {
    font-size: 3em;
    line-height: 1em;
}
#bio, a {
    font-weight: 300;
}
#profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;  
    object-fit: cover;
}
#email a {
    color: var(--mainTextColor);
    font-weight: 500;
}
#social-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#social-list a{
    font-size: 0.9em;
    color: var(--secondaryTextColor);
    transition: 0.3s;
}
#social-list a:hover {
    color: var(--mainLinkColor);
}
#qualifications--list {
    list-style: none;
}

.wrapper-techstack__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack {
    border: 1px solid var( --mainBorderColor);
    padding: 0.5em 1em;
    border-radius: 5px;
}

.education--history{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}